<div class="page-header">
	<h1> About me </h1>
</div>

<div class="jumbotron">
<p> 
	I'm thinking about getting an associates degree in something web oriented.
	I'm ALSO working on this class to design a website for my band.</p>

<p>Click here to peep a <%= link_to "new song", "https://www.youtube.com/watch?v=IOfQ4P-6mjA", class: "btn btn-primary btn-primary" %> off of our upcoming release!</p>

</div>