
<div class="jumbotron center">
	<h1>Where U @?</h1>

	<h2>Instantly connect with your friends and know where they are and where to go using this app</h2>
	<p> 
		<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
		<%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
		.</p>
</div>