
<div class="jumbotron">
	<h1>I can't find a job in my degree!</h1>
	<p>Click here to checkout my <%= link_to "Facebook", "https://www.facebook.com/zach.bronder", class: "btn btn-primary btn-lg" %>.</p>
</div>